@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.banner {
  width: 100%;
  height: 150px;
  background-color: #252525;
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: aquamarine;
  font-size: 80px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.navbar ul li a:hover {
  border-bottom: solid aquamarine;
  font-size: 22px;
}
.container {
  padding-top: 190px;
  padding-left: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./image/modern-business-building-scenery-touching-sky.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  min-height: 66.2vh;
}
.container .hero-text {
  margin-bottom: 40px;
}
.container .hero-text h1 {
  color: #fff;
  font-size: 47px;
  font-weight: 1200;
  line-height: 1.2;
  margin: 20px 0 20px;
}
span {
  color: aquamarine;
}
.container .hero-text h3 {
  color: #eee;
  font-weight: 800;
  font-size: 20px;
}
.container .hero-text p {
  width: 440px;
  max-width: 100%;
  color: #eee;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 600;
}
.social a {
  text-decoration: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 35px;
}
.social a:hover {
  transform: scale(1.1);
  background-color: #7fffd4;
  transition: 0.4s;
}
.container .hero-text button {
  color: #eee;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 30px;
  border: 2px solid #7fffd4;
  border-radius: 20px;
}
.container .hero-text button:hover {
  color: #252525;
  background: #7fffd4;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 30px;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: 0.4s;
}
.bottom {
  margin-top: 243px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom p {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  font-size: 17px;
}
.container2 {
  padding-top: 190px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./image/grey.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  min-height: 82.2vh;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about h1 {
  font-size: 47px;
  font-weight: 1200;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7fffd4;
  margin-left: 240px;
  border-right: 2px solid #7fffd4;
  padding-right: 15px;
}
.about p {
  padding: 35px;
  margin-right: 300px;
  width: 500px;
  height: auto;
  color: #eee;
  font-size: 20px;
  border: 2px solid #7fffd4;
  border-radius: 15px;
}
