@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}
body {
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./image/modern-business-building-scenery-touching-sky.jpg);
  background-position: center;
  background-size: cover;
}
.navlinks a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}
.navlinks a:hover {
  border-bottom: 2px solid aquamarine;
}
.logo {
  margin-top: 40px;
}
.logo a {
  font-size: 80px;
  text-decoration: none;
  color: aquamarine;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navlinks {
  margin-top: 45px;
  display: flex;
  gap: 2rem;
}
.navbar .toggle {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu a {
  text-decoration: none;
  color: #fff;
}
.dropdown_menu.open {
  margin-top: 45px;
  height: 170px;
}
.dropdown_menu.open a {
  text-decoration: none;
  color: #fff;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  color: #fff;
  margin: 20px;
  padding: 60px;
}
span {
  color: aquamarine;
}
.rass {
  text-align: center;
  font-size: 4.5rem;
}
.projects a {
  text-decoration: none;
  color: #fff;
}
.projects h2 {
  margin-bottom: 4rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem grey;
  overflow: hidden;
  display: flex;
}
.projects-box img {
  width: 100%;
  transition: 0.5s ease;
}
.projects-box:hover img {
  transform: scale(1.1);
}
.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), aquamarine);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.projects-box:hover .projects-layer {
  transform: translateY(0);
}
.projects-layer h4 {
  font-size: 3rem;
}
.projects-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #fff;
}
.projects-layer a i {
  font-size: 2rem;
  color: aquamarine;
}

@media (max-width: 992px) {
  .navbar .navlinks {
    display: none;
  }
  .navbar .toggle {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  .rass {
    text-align: center;
    font-size: 40px;
  }
  .projects-layer h4 {
    font-size: 18px;
  }
  .projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), aquamarine);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4px;
  }
  .projects-layer p {
    font-size: 14px;
  }
  .projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
  }
  .projects-layer a i {
    font-size: 18px;
  }
}

